* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: #000; }

canvas {
  box-shadow: 0 0 1px 0 #222;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  margin: auto; }

.add_menu {
  width: 20%;
  height: 100%;
  position: absolute;
  z-index: 999;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 7em 0 rgba(0, 0, 0, 0.4);
  right: 0;
  padding: 1px; }
  .add_menu.active {
    display: block; }

.inner {
  padding: 0.3em; }

.item {
  background: #eee;
  padding: 1em;
  cursor: pointer;
  border-radius: 3px;
  padding-left: 3em;
  margin-bottom: .35em;
  position: relative; }
  .item:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 8px;
    top: 0;
    bottom: 0;
    margin: auto; }
  .item:hover {
    background: tomato;
    color: #fff; }

.object-menu {
  width: 100px;
  height: 200px;
  background: #fff;
  z-index: 999;
  position: absolute;
  display: none;
  box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.4); }
  .object-menu.open {
    display: block; }

.hue-field {
  position: absolute; }

div#search_panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9;
  width: 150px;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2); }

div#search_panel a {
  display: block;
  line-height: 25px;
  padding-left: 1em;
  margin-bottom: .25em;
  background: #ccc;
  text-decoration: none;
  color: #222;
  font-family: 'Lato',sans-serif;
  font-size: 12px; }
  div#search_panel a:hover {
    color: #eee;
    background: #666; }

.themen {
  height: 60%;
  position: absolute;
  width: 100%;
  overflow: scroll;
  bottom: 0;
  padding: 0.6em;
  box-shadow: inset 0 0 .25em 0 #000;
  background: #999; }
